/* Reset Css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul li {
  list-style: none;
}

/* Color */
:root {
  --primary-color: #e7eadd;
  --primary-color-light: #d6d9cc;
  --text-color: #333;
  --black: #111;
}

/* Typography */
html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato/lato-regular-webfont.woff2") format("woff2"),
    url("./fonts/lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/lato/lato-bold-webfont.woff2") format("woff2"),
    url("./fonts/lato/lato-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Navigation */
.navbar {
  width: 100%;
  z-index: 99;
}

.navbar__inner {
  max-width: 1200px;
  height: 6rem;
  margin: auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar__menu {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  padding: 1rem 1rem;
  height: calc(100vh - 6rem);
  background-color: var(--primary-color);
  transform: translateY(-200%);
  transition: transform 0.5s ease-in;
}

.navbar__menu-active {
  transform: translateY(0%);
}

@media screen and (min-width: 1200px) {
  .navbar__menu {
    position: relative;
    top: 0;
    transform: translateY(0%);
    height: 0;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.navbar__menu-link {
  opacity: 0;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .navbar__menu-link {
    opacity: 1;
    margin-left: 3rem;
    
  }
}

.navbar__menu-link a {
  font-size: 1.6rem;
  font-weight: bold;
}

@keyframes menuLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar__hamburger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: var(--black);
  transition: all 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .navbar__hamburger {
    display: none;
  }
}

.navbar__hamburger-toggle .top {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.navbar__hamburger-toggle .middle {
  opacity: 0;
}

.navbar__hamburger-toggle .bottom {
  transform: rotate(45deg) translate(-6px, -4px);
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100%;
}

.hero__inner {
  max-width: 1200px;
  padding: 4rem 2rem;
  margin: auto;
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(60vh);
}

.hero__content h1 {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  color: var(--black);
}

.hero__content p {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 3.2rem;
}

.hero__content > a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hero__content-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .hero__content {
    flex-basis: 50%;
  }

  .hero__image {
    display: block;
    flex-basis: 50%;
  }

  .hero__content h1 {
    max-width: 500px;
  }

  .hero__content p {
    max-width: 400px;
    margin-bottom: 3.8rem;
  }
}

.hero__coming-soon > p {
  margin-bottom: 1.6rem;
}

.hero__coming-soon > a {
  display: inline-flex;
  align-items: center;
}

.hero__coming-soon > a:hover {
  cursor: pointer;
}

.hero__coming-soon > a > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* Components */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  margin-right: 1rem;
}

.btn-outline {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--black);
}

.btn-full {
  background-color: var(--primary-color-light);
  border-radius: 4px;
}
