.home {
  width: 100%;
  height: 100%;
}

// Navbar
.navbar {
  width: 100%;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    & a {
      font-size: $text-md;
      font-weight: bold;
    }
  }

  &__menu {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    height: calc(100vh - 6rem);
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;

    transform: translateY(-200%);
    transition: transform 0.5s ease-in-out;

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      align-items: center;
      padding: 0;
      height: inherit;
      transform: translateY(0%);
    }
  }

  /* Links */
  &__menu-link {
    margin: 2rem 0;
    opacity: 0;

    & a {
      transition: 200ms all;
    }

    & a:hover {
      color: var(--text-color);
    }

    &:last-of-type {
      border: 1px solid var(--text-color);
      padding: 0.5rem 1.6rem;
      border-radius: 6px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      display: flex;
      opacity: 1;

      &:not(:last-of-type) {
        margin-right: 4.2rem;
      }
    }
  }

  &__menu-burger {
    & div {
      width: 25px;
      height: 2px;
      background-color: var(--primary-color);
      margin: 5px 1px;
      transition: all 0.3s ease;
    }

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}

/* Hero */
.hero {
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.6)),
    url(../assets/images/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $breakpoint-desktop) {
    background: var(--white);
  }

  &__inner {
    max-width: 1200px;
    height: calc(100vh - 6rem);
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $breakpoint-desktop) {
      max-width: 100%;
      height: 100%;
      padding: 0;
      flex-direction: row;
      align-items: center;
      margin-top: 6rem;
    }
  }

  &__content {
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      text-align: left;
      padding: 4rem 7rem;
      align-self: center;
      max-width: 500px;
      margin: auto;
    }
  }

  &__title {
    color: var(--white);
    line-height: 1.3;
    margin-bottom: 1.6rem;

    @media (min-width: $breakpoint-desktop) {
      color: var(--primary-color);
    }
  }

  &__desc {
    color: var(--white);
    margin-bottom: 2.4rem;
    font-size: $text-md;

    &--desktop {
      display: none;

      @media (min-width: $breakpoint-desktop) {
        display: block;
        margin-bottom: 3.2rem;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      color: var(--primary-color);
      display: none;
    }
  }

  &__image {
    display: none;

    @media (min-width: $breakpoint-desktop) {
      display: block;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__btn {
    font-weight: bold;
    font-size: $text-md;
    transition: 500ms all;

    &:hover {
      background-color: var(--white);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
}

// Components
.btn {
  display: inline-block;
  padding: 2rem 4rem;
  color: var(--primary-color);
  background: var(--white);
  margin: 1.6rem 0;
  border-radius: 8px;
  border: 1px solid transparent;

  @media (min-width: $breakpoint-desktop) {
    color: var(--white);
    background: var(--primary-color);
    padding: 1rem 3rem;
  }
}

/* Utility class names */
.menu-active {
  transform: translateY(0%);
}

.menu-link-toggle .top {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.menu-link-toggle .middle {
  opacity: 0;
}

.menu-link-toggle .bottom {
  transform: rotate(45deg) translate(-4px, -6px);
}


/* Animation */
@keyframes menuLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}